<footer class="footer">
  <small>
    Biblio Site by Lionel Brouchet
  </small>
  <nav>
    <ul>
      <li><a href="http://deptinfo.unice.fr/~dalle/wiki/index.php?n=Enseignements.ProgWebServeur12">IFPS Site</a></li>
    </ul>
  </nav>
</footer>